body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #868585;
    background-color: #fdfcfb;
}
h1, h2{
  margin: 60px auto 30px;
}
footer{
  margin-top: 60px;
}
.jumbotron{
  background: url('../img/1.jpg') no-repeat 100% 0;
  background-size: cover;
  background-position: center;
}
.carousel-item{
  max-height: 500px;
}
.carousel-item img{
  background-position: center;
}
